@import "~antd/dist/antd.css";
body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c1c1c1;
}
.App {
  width: 70%;
  display: block;
  margin: 1em auto;
  background-color: #fff;
  padding: 1em;
  box-shadow: 1px 1px 7px 3px #5f5c5c;
}
